body{
font-family: Arial;
margin:0;
background-color: #FAF3E0;  
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
color:white;
padding:15px;
}

.logo{
font-size:22px;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

nav a:hover{
text-decoration:underline;
font-style:italic;
}

section{
padding:40px;
}

.skill{
display:inline-block;
margin:20px;
text-align:center;
}

.skill img{
width:60px;
}

.project{
background:white;
padding:15px;
margin:10px 0;
border-radius:5px;
}

textarea{
width:300px;
height:80px;
}

button{
padding:10px 20px;
margin-top:10px;
}

.home{
position:fixed;
bottom:20px;
right:20px;
font-size:30px;
text-decoration:none;
}
#message{
color:green;
font-weight:bold;
margin-top:10px;
}